h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  background-image: url("img/grass.jpg");
}

body {
  background-color: antiquewhite;
}

p {
  font-size: 14px;
}

img {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}