body {
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul li {
    color: green;
}

li#item2 {
    color: blue;
}

li.item1 {
    color: red;
}

div.div1 > p {
    background-color: black;
}